<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>

<body class="w-100 h-100 d-flex flex-column min-vh-100">
<%- include('assets/header') %>

<div>
    <a href="/albumCreate">
        <button class="btn btn-primary">Új album</button>
    </a>
</div>

<div class="container-fluid">
    <% for (let i = 0; i < albums.length; i++) { %>
        <div class="text-primary">
            <table>
                <tr>
                    <td>
                        <button type="button" class="btn btn-info"><a
                                    href="/albums<%= albums[i][0] %>"><%= albums[i][2] %></a></button>
                    </td>
                    <td>
                        <form action="/deleteAlbum<%= albums[i][0] %>" method="POST">
                            <button class="btn btn-primary btn-danger">Törlés</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    <% } %>
</div>

<% if(selectedAlbum){ %>
    <% for (let i = 0; i < selectedAlbum.length; i++) { %>
        <div class="pics">
            <img src="uploads/<%= selectedAlbum[i][0] %>" alt="albPic">
        </div>
    <% }; %>
<% } %>

<%- include('assets/footer') %>
</body>
</html>