<!DOCTYPE html>
<html lang="en">
    <%- include('assets/head') %>

    <body class="w-100 h-100">
    <%- include('assets/header')%>
    <div class="container form-container">
        <form method="post" action="/changeUserDataOf<%= current_name%>">
            <fieldset>
                <legend class="fw-bold text-center">Adat módosítás</legend>
                <label for="name" class="form-label">Full name:</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Teljes név" >
                <label for="email" class="form-label">E-mail:</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="ateemail@cimed.hu" >
                <label for="birthday" class="form-label"> Date of birth</label>
                <input type="date" class="form-control" name="birthday" id="birthday">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="******">
                <label for="re_password" class="form-label">Password again:</label>
                <input type="password" class="form-control" id="re_password" name="re_password" placeholder="******">
                <%if(typeof errors[0] !== "undefined"){
                if(typeof errors[0].hibaChanges !== "undefined"){ %>
                    <p class="text-danger"><%= errors[0].hibaChanges %></p>
                <%}else if (typeof errors[0].success !== "undefined"){ %>
                    <p class="text-success"><%= errors[0].success %></p>
                <%}
                } %>
                <button type="submit" class="btn btn-success mt-2"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"/><polyline points="17 21 17 13 7 13 7 21"/><polyline points="7 3 7 8 15 8"/></svg> <span class="ms-2">Save changes</span></button>
            </fieldset>
        </form>

    </div>


    <%- include('assets/footer') %>
    </body>
</html>