<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('assets/head') %>
   <meta charset="UTF-8">
   <title>TrueFace</title>
   <link rel="stylesheet" type="text/css" href="../public/css/style.css">
   <link rel="icon" type="image/x-icon" href="/public/sources/icon.png">
   <style>
      body {
         font-family: Arial, sans-serif;
         background: #f4f4f4;
         margin: 0;
         padding: 0;
      }

      .correct{
         background: green;
         color: white;
      }

      .wrong{
         background: #bf2b00;
         color: white;
      }

   </style>
</head>
<body class="d-flex flex-column min-vh-100">
<%- include('assets/header')%>
<table>
   <thead>
   <tr>
      <th>Név</th>
      <th>Email</th>
   </tr>
   </thead>
   <tbody>
   <% if (users && users.rows && users.rows.length > 0) { %>
   <% users.rows.forEach(function(user) { %>
      <tr>
         <td><%= user[1] %></td>
         <td><%= user[2] %></td>
      </tr>
   <% }); %>
   <% } else { %>
      <tr>
         <td colspan="2">Adatbázis nem elérhető</td>
      </tr>
   <% } %>
   </tbody>
</table>
<%- include('assets/footer')%>
</body>

</html>