<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<body class="m-0 p-0 w-100 d-flex flex-column min-vh-100">
<%- include('assets/header') %>

<div class="container form-container">

</div>

<% if (isThisOwnGroups && !groupCheckOut){ %>

    <div class="post" style="max-width: 20%; margin: 2vh 0% 2vh 5%">
        <h3>Csoport létrehozása</h3>

        <form action="/group-create-new" method="POST" id="createNewGroup">
            <label for="nev" class="form-label">Csoport neve: </label>
            <br>
            <input type="text" name="csoportNeve" id="csoportNeve" required>
            <button type="submit" class="btn-middle btn btn-primary mt-2">Létrehozás</button>
        </form>
    </div>

    <div class="flex-grid-groups">
        <% groups.rows.forEach(function(group){ %>
            <div class="card">

                <% if((current_id === group[2] && isThisOwnGroups) || current_role === "ADMIN" ){ %>
                    <form action="/group-checkout" method="post" class="card-header">
                        <input type="hidden" name="groupId" value="<%= group[0] %>">
                        <button type="submit" class="border"><%= group[1] %></button>
                    </form>
                    <form action="/group-delete" method="post" class="card-footer">
                        <input type="hidden" name="groupId" value="<%= group[0] %>">
                        <button type="submit" class="btn btn-primary btn-post-hold">Törlés</button>
                    </form>

                <% } %>

            </div>
        <% }) %>
    </div>

<% } %>

<% if(!isThisOwnGroups && !groupCheckOut){ %>


    <div class="flex-grid-groups">
        <% groups.rows.forEach(function(group){ %>
            <div class="card">
                <% if(!isThisOwnGroups || current_role === "ADMIN" ){ %>
                    <form action="/group-checkout" method="post" class="card-header">
                        <input type="hidden" name="groupId" value="<%= group[0] %>">
                        <button type="submit" class="border "><%= group[1] %></button>
                    </form>
                    <div class="card-footer flex-grid">
                        <form action="/group-delete" method="post">
                            <input type="hidden" name="groupId" value="<%= group[0] %>">
                            <button type="submit" class="btn btn-primary btn-post-hold">Törlés</button>
                        </form>
                        <form action="/group-join" method="post">
                            <input type="hidden" name="groupId" value="<%= group[0] %>">
                            <button type="submit" class="btn btn-primary btn-success">Join</button>
                        </form>
                    </div>
                <% } %>

            </div>
        <% }) %>
    </div>
<% } %>
<% if(groupCheckOut){ %>
<div class="flex-grid-center">
    <div class="card">
        <div class="card-header">
            <h1><%= currentGroup[1] %></h1>
            <span class="float-end">Tagok száma: <%= memberNumber %>
                <form method="post" action="/membersAll"><label>
                    <input type="hidden" value="<%= currentGroup[0] %>" name="groupId">
                    </label><button type="submit" class="btn btn-primary"> Tagok</button>
                </form>
            </span>
        </div>

    </div>
    <div class="card">
        <h3 class="card-header">Poszt létrehozása</h3>
        <div class="post card-body">
            <form action="/post-add-new-into-roup" method="post">
                <input type="hidden" name="currentGroupId" value="<%= currentGroupId %>">
                <textarea name="posztSzoveg" id="posztSzoveg" cols="40" rows="5"></textarea>
                <button type="submit" class="btn-middle btn btn-primary mt-2">Létrehozás</button>
            </form>
        </div>
    </div>

    <% if(groupPosts.rows.length > 0){ %>

        <% groupPosts.rows.forEach(function (groupPost){ %>

            <div class="post">

                <h3><a href="/otherProfile<%= groupPost[1] %>"> <%= groupPost[6] %> </a></h3>
                <h4><%= groupPost[3] %></h4>
                <h6 class="text-secondary"><%= groupPost[5] %></h6>
                <p style="font-size: 1.75vh">Kedvelések száma: <%= groupPost[4] %> </p>
                <div class="flex-grid-center-post-inside">
                    <form style="margin-bottom: 10px" action="/post-add-comment-inGroup" method="post">
                        <input type="hidden" name="currentGroupId" value="<%= groupPost[2] %>">
                        <input type="text" name="kommentInput" id="kommentInput">
                        <input type="hidden" name="postId" value="<%= groupPost[0] %>">
                        <button type="submit" class="btn btn-primary">Komment hozzáadása</button>
                    </form>

                    <% if (comments){ %>
                        <% comments.rows.forEach(komment => { %>
                            <% if (komment[1] === groupPost[0]){ %>
                                <p><%= komment[6] %>: <%= komment[3] %></p>
                                <form action="/post-remove-comment-inGroup" method="post">
                                    <input type="hidden" name="postIdd" id="postIdd" value="<%= groupPost[0] %>">
                                    <input type="hidden" name="kommentId" id="kommentId" value="<%= komment[0] %>">
                                    <input type="hidden" name="currentGroupIdd" id="currentGroupIdd"
                                           value="<%= groupPost[2] %>">
                                    <button type="submit" class="btn btn-danger">Komment törlése</button>
                                </form>
                            <% } %>
                        <% }) %>
                    <% } %>

                    <form style="margin-bottom: 10px" action="/post-like-group" method="post">
                        <input type="hidden" name="postId" value="<%= groupPost[0] %>">
                        <input type="hidden" name="currentGroupId" value="<%= groupPost[2] %>">
                        <button type="submit" class="btn btn-primary">Kedvelés</button>
                    </form>

                    <% if(current_id === groupPost[1]){ %>
                        <button class="btn btn-primary btn-post-modify">Módosítás</button>

                        <div class="post-modify-popup">
                            <form action="/post-modify-group" method="post">
                                <textarea name="modifySzoveg" id="modifySzoveg" cols="40"
                                          rows="5"><%= groupPost[3] %></textarea>
                                <input type="hidden" name="postId" value="<%= groupPost[0] %>">
                                <input type="hidden" name="currentGroupId" value="<%= groupPost[2] %>">
                                <button type="submit" class="btn btn-primary">Mentés</button>
                            </form>
                        </div>
                    <% } %>
                    <% if(current_id === groupPost[1] || current_role === 'ADMIN'){ %>
                        <form action="/post-delete-group" method="post">
                            <input type="hidden" name="postId" value="<%= groupPost[0] %>">
                            <input type="hidden" name="currentGroupId" value="<%= groupPost[2] %>">
                            <button type="submit" class="btn btn-primary btn-post-hold">Törlés</button>
                        </form>
                    <% } %>
                </div>
            </div>

    <% })}} %>

</div>


<%- include('assets/footer') %>
</body>

</html>