<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<body class="m-0 p-0 w-100 d-flex flex-column min-vh-100">
<%- include('assets/header') %>

<div class="container form-container">
    <a href="/groups_own"><button class="btn btn-primary">Saját csoportok</button></a>
    <a href="/groups_all"><button class="btn btn-primary">Összes csoport</button></a>
</div>
<% if(current_role === 'ADMIN'){ %>
    <div class="connectionLink"><a href="/connection">Connection proof</a></div>
<% } %>

<%if (isThisOwnGroups){%>

    <div class="post" style="max-width: 20%; margin: 2vh 0% 2vh 5%">
        <h3>Csoport létrehozása</h3>

        <form action="/group-create-new" method="POST" id="createNewGroup">
            <label for="nev" class="form-label">Csoport neve: </label>
            <br>
            <input type="text" name="csoportNeve" id="csoportNeve" required>
            <button type="submit" class="btn-middle btn btn-primary mt-2">Létrehozás</button>
        </form>
    </div>

<%}%>

<div class="flex-grid-groups">
    <% groups.rows.forEach(function(group){ %>
        <div style="border: 1px solid black">
            <p><%= group[1] %></p>

            <%if((current_id === group[2] && isThisOwnGroups) || current_role === "ADMIN" ){%>
                <form action="/group-delete" method="post">
                    <input type="hidden" name="groupId" value="<%= group[0] %>">
                    <button type="submit" class="btn btn-primary btn-post-hold">Törlés</button>
                </form>
            <%}%>

        </div>
    <% }) %>
</div>


<%- include('assets/footer') %>
</body>

</html>