<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>

<body>
<header id="header" style=" padding-bottom: 70px;">
    <nav class="navbar bg-primary navbar-expand-sm bg-primary border-bottom border-body position-fixed w-100" data-bs-theme="dark" >
        <a class="navbar-brand border-end border-light p-1" href="#">TrueFace</a>
    </nav>
</header>
<div class="container">
    <div class="form-container">
        <form method="POST" id="register-form" action="/register">
            <fieldset>
                <legend class="fw-bold text-center">Regisztráció</legend>
                <label for="name"></label><input class="form-control" type="text" name="name" id="name" placeholder="Teljes név" required>
                <label for="email"></label><input class="form-control" type="text" name="email" id="email" placeholder="ateemail@cimed.hu" required>
                <label for="birthday"></label><input class="form-control" type="date" name="birthday" id="birthday" placeholder="" required>
                <label for="password"></label><input class="form-control" type="password" name="password" id="password" placeholder="Jelszó" required>
                <label for="password2"></label><input class="form-control" type="password" name="password2" id="password2" placeholder="Jelszó megint" required>
                <% if(hibaRegister){ %>
                    <p class="text-danger" style="padding-left: 1%"><%- hibaRegister %></p>
                <% } %>
                <% if(successRegister){ %>
                    <p class="text-success" style="padding-left: 1%"><%- successRegister %></p>
                <% } %>
                <button type="submit" class="btn btn-primary mt-2">Regisztráció</button>
            </fieldset>

        </form>
    </div>
    <div class="form-container">
        <form method="POST" id="login-form" action="/login">
            <fieldset>
                <legend class="fw-bold text-center">Bejelentkezés</legend>
                <label for="email2"></label><input class="form-control" type="text" name="email" id="email2" placeholder="Email" required>
                <label for="passwordag"></label><input class="form-control" type="password" name="password" id="passwordag" placeholder="Jelszó" required>
                <% if(hibaLogin){ %>
                    <p class="text-danger" style="padding-left: 1%"><%- hibaLogin %></p>
                <% } %>
                <button type="submit" class="btn btn-primary mt-2">Login</button>
            </fieldset>
        </form>
    </div>
</div>
<%- include('assets/footer')%>
</body>

</html>