<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('assets/head') %>

    <style>

        .main {
            display: grid;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
            alignment: center;
            text-align: center;
        }

        .mainbuttons {
            display: inline-block;
            padding: 20px 50px;
            text-decoration: none;
            background-color: #007bff;
            color: white;
            border: 1px solid black;
            transition: background-color 0.2s;
        }

        .mainbuttons:hover {
            background-color: #0055ad;
            border: 1px solid black;
        }


        /* Flexgrid konténer */
        .flex-grid {
            display: flex;
        }

        /* Bal oldali panel */
        .left-panel, .right-panel, .center-panel {
            padding: 20px;
            border: 1px solid #ccc;
        }

        .left-panel, .right-panel {
            flex: 0 0 200px; /* Fix szélesség */
        }

        .center-panel {
            flex-grow: 1; /* Növekvő szélesség */
            overflow-y: auto; /* Görgethetőség */
        }

        /* Scrollable content */
        .scrollable-content {
            max-height: 500px; /* Max magasság */
            overflow-y: auto; /* Görgethetőség */
        }

        /* Stílusok a posztokhoz */
        .post {
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
            padding: 50px;
        }

        .post:last-child {
            border-bottom: none; /* Az utolsó poszt alatti border eltávolítása */
        }
    </style>
</head>

<header>
    <%- include('assets/header') %>
</header>
<body>
<% if(current_role === 'ADMIN'){ %>
    <div class="connectionLink"><a href="/connection">Connection proof</a></div>
<% } %>

<!--<div class="main">-->
<!--</div>-->
<!--<div>-->
<!--        <% posts.rows.forEach(function(posts) { %>-->
<!--    <div><%= posts[2] %></div>-->
<!--        <br>-->
<!--        <% }); %>-->
<!--</div>-->
<!--<div>-->

<!--</div>-->

<div class="flex-grid">
    <div class="left-panel">
        <div class="scrollable-content">
            <!-- Születésnapok -->
            <h2>Születésnapok</h2>
            <ul>

                <% birthdays.rows.forEach(function (birthday) { %>
                    <% let date = new Date(birthday[1]); %>
                    <% let months = ['Január', 'Február', 'Március', 'Április', 'Május', 'Június', 'Július', 'Augusztus', 'Szeptember', 'Október', 'November', 'December']; %>
                    <li><%= birthday[0] %>, <%= months[date.getMonth()] %>:<%= date.getDate() %></li>
                <% }); %>

            </ul>
        </div>
    </div>
    <div class="center-panel">
        <div class="scrollable-content">
            <!-- Posztok -->
            <h2>Posztok</h2>

            <% posts.rows.forEach(function(posts) { %>

                <div class="post" style=" border-bottom: 1px solid #ccc; padding: 10px 0;"><h3> <%= posts[2] %> </h3>
                    <p>Lájkok száma: <%= posts[3] %></p></div>
            <% }); %>

            <!-- további posztok... -->
        </div>
    </div>
    <div class="right-panel">
        <div class="scrollable-content">
            <!-- Barátok listája -->
            <h2>Barátok</h2>
            <ul>
                <% usersfriends.rows.forEach(function (friend) { %>
                    <li><%= friend %></li>
                <% }); %>

            </ul>
        </div>
    </div>
</div>


</body>
<%- include('assets/footer') %>
</html>