<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<body class="m-0 p-0 w-100">
<%- include('assets/header') %>
<% if(current_role === 'ADMIN'){ %>
    <div class="connectionLink"><a href="/connection">Connection proof</a></div>
<% } %>

<div class="flex-grid">

    <div class="flex-grid-left">
        <h2>Születésnapok</h2>
        <ul>

            <% birthdays.rows.forEach(function (birthday) { %>
                <% let date = new Date(birthday[1]); %>
                <% let months = ['Január', 'Február', 'Március', 'Április', 'Május', 'Június', 'Július', 'Augusztus', 'Szeptember', 'Október', 'November', 'December']; %>
                <li style="font-size: 2vh;"><%= birthday[0] %>, <%= months[date.getMonth()] %> <%= date.getDate() %>.
                </li>
            <% }); %>

        </ul>
    </div>

    <div class="flex-grid-center">
        <h2>Posztok</h2>

        <h3>Poszt létrehozása</h3>
        <div class="post">
            <form action="/post-add-new" method="post">
                <textarea name="posztSzoveg" id="posztSzoveg" cols="40" rows="5"></textarea>
                <button type="submit" class="btn-middle btn btn-primary mt-2">Létrehozás</button>
            </form>
        </div>
        <% posts.rows.forEach(function(posts) { %>
            <div class="post">
                <h3> <%= posts[2] %> </h3>
                <h3><%= posts[3] %></h3>
                <p style="font-size: 1.75vh">Kedvelések száma: <%= posts[4] %></p>
                <div class="flex-grid-center-post-inside">
                    <form style="margin-bottom: 10px" action="/post-like" method="post">
                        <input type="hidden" name="postId" value="<%= posts[0] %>">
                        <button type="submit" class="btn btn-primary">Kedvelés</button>
                    </form>
                    <% if(current_id === posts[1]){ %>
                        <button class="btn btn-primary btn-post-modify">Módosítás</button>

                        <div class="post-modify-popup">
                            <form action="/post-modify" method="post">
                                <textarea name="modifySzoveg" id="modifySzoveg" cols="40"
                                          rows="5"><%= posts[3] %></textarea>
                                <input type="hidden" name="postId" value="<%= posts[0] %>">
                                <button type="submit" class="btn btn-primary">Mentés</button>
                            </form>
                        </div>

                    <% } %>
                    <% if(current_id === posts[1]){ %>
                        <form action="/post-delete" method="post">
                            <input type="hidden" name="postId" value="<%= posts[0] %>">
                            <button type="submit" class="btn btn-primary btn-post-hold">Törlés</button>
                        </form>
                    <% } %>
                </div>
            </div>

        <% }); %>

    </div>

    <div class="flex-grid-right">
        <h2>Barátok</h2>
        <ul>
            <% usersfriends.rows.forEach(function (friend) { %>
                <li style="font-size: 2vh"><%= friend[1] %></li>
            <% }); %>

        </ul>
    </div>


</div>


<!--<script>-->
<!--    // ki kell majd kulon .js fajlba rakni-->
<!--    // a modositasnak "popup" textarea-->
<!--    const modifyButton = document.querySelector('.btn-post-modify');-->
<!--    const modifyPopup = document.querySelector('.post-modify-popup');-->
<!--    const textareaSzoveg = document.querySelector('#modifySzoveg');-->
<!--    const temp = textareaSzoveg.value;-->

<!--    modifyButton.addEventListener('click', function (event) {-->
<!--        event.preventDefault();-->
<!--        if (modifyPopup.style.display === 'block') {-->
<!--            modifyPopup.style.display = 'none';-->
<!--            textareaSzoveg.value = temp;-->
<!--        } else {-->
<!--            modifyPopup.style.display = 'block';-->
<!--        }-->
<!--    });-->
<!--</script>-->

<%- include('assets/footer') %>
</body>

</html>