<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<body class="m-0 p-0 w-100 d-flex flex-column min-vh-100">
<%- include('assets/header') %>
<% if(current_role === 'ADMIN'){ %>
    <div class="connectionLink"><a href="/connection">Conncetion proof</a></div>
<% } %>

<div class="flex-grid">

    <div class="flex-grid-left">
        <h2>Születésnapok</h2>
        <ul>

            <% birthdays.rows.forEach(function (birthday) { %>
                <% let date = new Date(birthday[1]); %>
                <% let months = ['Január', 'Február', 'Március', 'Április', 'Május', 'Június', 'Július', 'Augusztus', 'Szeptember', 'Október', 'November', 'December']; %>
                <li style="font-size: 2vh;"><%= birthday[0] %>, <%= months[date.getMonth()] %> <%= date.getDate() %>.
                </li>
            <% }); %>

        </ul>
    </div>

    <div class="flex-grid-center">
        <h2>Posztok</h2>
        <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#posztModal">
            Poszt létrehozása
        </button>
        <div class="modal fade" id="posztModal" tabindex="-1" aria-labelledby="posztModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form action="/post-add-new" method="post">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="posztModalLabel">Poszt létrehozása</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="post">
                                <textarea name="posztSzoveg" id="posztSzoveg" cols="40" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn-middle btn btn-primary mt-2">Létrehozás</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% posts.rows.forEach(function(posts) { %>
            <div class="post">

                <h3><a href="/otherProfile<%= posts[1] %>"> <%= posts[6] %> </a></h3>
                <h6 class="text-secondary"><%= posts[5] %></h6>
                <h4 class="border-top border-bottom"><%= posts[3] %></h4>
                <p style="font-size: 1.75vh">Kedvelések száma: <%= posts[4] %></p>
                <div class="flex-grid-center-post-inside">

                    <form style="margin-bottom: 10px" action="/post-add-comment" method="post">
                        <input type="text" name="kommentInput" id="kommentInput">
                        <input type="hidden" name="postId" value="<%= posts[0] %>">
                        <button type="submit" class="btn btn-primary">Komment hozzáadása</button>
<!--                        <% if (comments){ %>-->
<!--                        <% comments.rows.forEach(komment => { %>-->
<!--                        <% if (komment[1] === posts[0]){ %>-->
<!--                        <p><%= komment[6] %>: <%= komment[3] %></p>-->
<!--                        <% } %>-->
<!--                        <% }) %>-->
<!--                        <% } %>-->
                    </form>

                    <% if (comments){ %>
                        <% comments.rows.forEach(komment => { %>
                            <% if (komment[1] === posts[0]){ %>
                                <p><%= komment[6] %>: <%= komment[3] %></p>

                                <%if(current_id === komment[2] || current_role === 'ADMIN'){%>
                                <form action="/post-remove-comment" method="post">
                                    <input type="hidden" name="postIdd" id="postIdd" value="<%= posts[0] %>">
                                    <input type="hidden" name="kommentId" id="kommentId" value="<%= komment[0] %>">
                                    <button type="submit" class="btn btn-danger">Komment törlése</button>

                                </form>
                                <%}%>
                            <% } %>
                        <% }) %>
                    <% } %>


                    <form style="margin-bottom: 10px" action="/post-like" method="post">
                        <input type="hidden" name="postId" value="<%= posts[0] %>">
                        <button type="submit" class="btn btn-primary">Kedvelés</button>
                    </form>

                    <% if(current_id === posts[1]){ %>
                        <button class="btn btn-primary btn-post-modify">Módosítás</button>

                        <div class="post-modify-popup">
                            <form action="/post-modify" method="post">
                                <textarea name="modifySzoveg" id="modifySzoveg" cols="40"
                                          rows="5"><%= posts[3] %></textarea>
                                <input type="hidden" name="postId" value="<%= posts[0] %>">
                                <button type="submit" class="btn btn-primary">Mentés</button>
                            </form>
                        </div>

                    <% } %>
                    <% if(current_id === posts[1] || current_role === 'ADMIN'){ %>
                        <form action="/post-delete" method="post">
                            <input type="hidden" name="postId" value="<%= posts[0] %>">
                            <button type="submit" class="btn btn-primary btn-post-hold">Törlés</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% }); %>
    </div>

    <div class="flex-grid-right">
        <h2>Barátok</h2>
        <% if(usersfriends.rows.length === 0){ %>
            Nincs barátod, sadge :'(
        <% } %>
        <ul>
            <% usersfriends.rows.forEach(function (friend) { %>
                <li style="font-size: 2vh"><%= friend[1] %></li>
            <% }); %>

        </ul>
        <% if (suggestable.length > 0) {%>
            <h2>Emberek akiket ismerhetsz</h2>
            <div>
                <% for (let i = 0; i < suggestable.length; i++){ %>
                    <div>
                        <div><a href="otherProfile<%= suggestable[i][0] %>"><%= suggestable[i][1] %></a></div>
                        <% if(suggestable[i][7] === false) { %>
                            <a href="/addFriend<%= suggestable[i][0] %>&<%= suggestable %>">
                                <button class="btn btn-outline-success">ADD FRIEND</button>
                            </a>
                        <% } else { %>
                            <div>Barát &check;</div>
                        <% } %>
                    </div>
                <% } %>
            </div>
        <%}%>
    </div>

</div>


<!--<script>-->
<!--    // ki kell majd kulon .js fajlba rakni-->
<!--    // a modositasnak "popup" textarea-->
<!--    const modifyButton = document.querySelector('.btn-post-modify');-->
<!--    const modifyPopup = document.querySelector('.post-modify-popup');-->
<!--    const textareaSzoveg = document.querySelector('#modifySzoveg');-->
<!--    const temp = textareaSzoveg.value;-->

<!--    modifyButton.addEventListener('click', function (event) {-->
<!--        event.preventDefault();-->
<!--        if (modifyPopup.style.display === 'block') {-->
<!--            modifyPopup.style.display = 'none';-->
<!--            textareaSzoveg.value = temp;-->
<!--        } else {-->
<!--            modifyPopup.style.display = 'block';-->
<!--        }-->
<!--    });-->
<!--</script>-->
<%- include('assets/footer') %>
</body>

</html>