<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>

<body class="w-100 h-100 d-flex flex-column min-vh-100">
<%- include('assets/header') %>
<div class="container form-container flex-grid">

    <% for (let i = 0; i < users.length; i++){ %>
        <div>
            <div><a href="otherProfile<%= users[i][0] %>"><%= users[i][1] %></a></div>
            <% if(users[i][7] === false) { %>
                <a href="/addFriend<%= users[i][0] %>&<%= current_id %>">
                    <button class="btn btn-outline-success">ADD FRIEND</button>
                </a>
            <% } else { %>
                <div>Barát &check;</div>
            <% } %>
        </div>
    <% } %>

</div>
<%- include('assets/footer') %>
</body>
</html>